
@font-face{
	font-family:'myFont';
	src:url('../fonts/iconfont.eot') format('eot'),url('../fonts/iconfont.svg') format('svg'),url('../fonts/iconfont.ttf') format('ttf'),url('../fonts/iconfont.woff') format('woff');
	font-weight:600;
	font-style:normal;
}
.hello{
	color:#000;
	font-family: 'MyFont';
	/* background:url('../img/test.jpg'); */
}
.iconStyle{
	font-size:50px;
	color: #000fff;
	font-weight:bold;
}